html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**Reset para REMS - 62.5% = 10px de 16px*/
    background-color: #000000;
    /* overflow: hidden;*/
}


/*@font-face {
    font-family: 'Ricochet';
    src: url('../arrebajaoenlabanera/Trebuchet_MS.ttf') format('truetype');
}

@font-face {
    font-family: 'LaPulga';
    src: url('../arrebajaoenlabanera/Today-Easter.ttf') format('truetype');
}*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
}

img {
    margin: auto auto;
    width: 50%;
}

p {
    color: white;
    font-size: 2rem;
}


/* Heads will roll on the floor */


/* SECCIONES */

section {
    margin-bottom: 1rem;
}

div.marco section {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

div.marco section.seccion1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../arrebajaoenlabanera/proyectocomercial/comercial6.png);
    display: flex;
}

div.marco section.seccion2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../arrebajaoenlabanera/proyectoresidencial/residencial9.png);
    display: flex;
}

div.marco section.seccion3 {
    display: flex;
}


/* SIDEBAR */

div.sidebar {
    display: flex;
    height: 100vh;
}

div.sidebar .bots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* div.sidebar {
    display: block;
    background-color: rgb(244, 244, 244, 0.5);
    color: black;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

div.sidebar h2 {
    margin: 1rem;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Ricochet';
}

div.volteado {
    background-color: rgba(0, 0, 0, 0.7);
}

div.volteado h2,
span {
    color: rgb(255, 255, 255, 0.7);
} */


/* Menú de hamburgruesa */


/* div.logo a {
    display: block;
}

div.iconos {
    display: none;
}

div.logo a.menu-movil i {
    color: white;
    font-size: 1.8rem;
}

div.logo a.close {
    display: none;
} */


/* div.iconos:target {
    display: flex;
} */


/* div.proyecto {
    margin: 1rem 0;
}

div.proyecto a img {
    width: 60%;
}

div.sidebar a p {
    margin: 0;
    display: none;
    font-size: 2rem;
}

div.volteado a p {
    color: rgb(244, 244, 244, 0.5);
}

div.volteado img {
    -webkit-filter: invert(1);
}

@media (min-width: 768px) {
    div.sidebar {
        width: 30%;
        height: 120rem;
        display: block;
    }
    div.sidebar .logo {
        margin: 2rem 0;
    }
    div.sidebar h2 {
        display: block;
        font-size: 5rem;
    }
    div.sidebar span {
        font-size: 2.5rem;
    }
    div.iconos {
        display: block;
    }
    div.sidebar .zoom a {
        text-align: center;
        margin: 1rem 0;
        font-size: 3.5rem;
        padding: 2rem;
        display: block;
        color: rgba(0, 0, 0, 0.7);
    }
    div.sidebar .zoom a:hover {
        transform: scale(1.5);
        transition: .4s ease-in-out;
    }
    div.proyecto a img {
        width: 40%;
        opacity: .7;
    }
    div.logo a.menu-movil i {
        display: none;
    }
} */


/* I push my fingers into my EEEEEEEEEYEESSSSSS */


/* MAIN */


/* I won't let this build up inside of me */


/* div.imagenes {
    display: block;
}

div.imagenes img {
    display: block;
    padding: 1rem;
    width: 100%;
}

@media (min-width: 768px) {
    div.imagenes {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    div.imagenes img {
        padding: 1rem;
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    div.imagenes img:hover {
        transform: scale(1.045);
        transition: .3s ease-in-out;
    }
}

img.justgrow {
    width: 100%;
    align-items: center;
    align-content: center;
}

div.imagenes img.grid-row13 {
    grid-row: 1 / 3;
    width: 100%;
    height: 50%;
}

div.imagenes img.grid-row24 {
    grid-row: 2 / 4;
}

div.imagenes img.grid-row46 {
    grid-row: 4 / 6;
    width: 100%;
    height: 50%;
}

div.imagenes img.grid-column13 {
    grid-column: 1 / 3;
    height: 100%;
}

div.imagenes img.grid-column24 {
    grid-column: 2 / 4;
}

div.imagenes img.grid-column35 {
    grid-column: 3 / 5;
}


/* RECORRIDOS VIRTUALES */


/* div.video {
    width: auto;
    height: auto;
    text-align: center;
}

div.video iframe {
    width: 90%;
}

*/