/* 
        NOTAS

        Scroll-snap

        html{
            scroll-snap-type: y mandatory;
        }
        delimitador,
        delimitador2,
        delimitador+n{
            scroll-snap-align:center;
            scroll-snap-stop:always;
        }

        LA PERFORMANCE
        Lazy loading
        <img loading="lazy">

        PRELOAD para ocupar un archivo de manera inmediata, o al menos eso entiendo
        <link rel="preload" href="css/Style.css" as="style">
        <link rel="stylesheet" href="css/Style.css">

        PREFETCH para cargar la página que el usuario va a visitar enseguida, o al menos eso entiendo
        <link prefetch" href="pagina.html" as="document">
        <link rel="stylesheet" href="pagina.html">

        ** Formatos webp y etiqueta picture *** 
        Es como una cascada, si el navegador no soporta webp se pasa al jpg
        <picture> 
            <source srcset="img/blog1.webp" type="image/webp">
            <img src="img/blog1.jpg">
        </picture>

        Modernizr

*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**Reset para REMS - 62.5% = 10px de 16px*/
    background-color: #000000;
    /*scroll-snap-type: y mandatory;*/
    user-select: none;
}

@font-face {
    font-family: 'Ricochet';
    src: url('../arrebajaoenlabanera/Trebuchet_MS.ttf') format('truetype');
}

@font-face {
    font-family: 'LaPulga';
    src: url('../arrebajaoenlabanera/Today-Easter.ttf') format('truetype');
}

@font-face {
    font-family: 'Zrnic';
    src: url('../arrebajaoenlabanera/zrnicrg.ttf');
}

@font-face {
    font-family: 'Swis';
    src: url('../arrebajaoenlabanera/swz721lc.ttf');
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* SNAP */

.seccion1,
.seccion2,
.seccion3 {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

img {
    margin: 0 auto;
    width: 100%;
}

h2 {
    font-family: 'Zrnic';
}

h2,
h3 {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    text-align: left;
}

h3 {
    font-family: 'Swis';
}

p {
    color: white;
    font-size: 2rem;
    font-family: 'Ricochet';
}


/* Heads will roll on the floor */


/* SECCIONES 
    > section
    > marco
    > sidebar
    > contenido
*/

section {
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0 2rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

div.marco {
    display: flex;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 95%;
}

div.tags {
    position: absolute;
    width: 5.7rem;
    bottom: 0;
    right: 10rem;
    display: flex;
}

div.tags .lang {
    position: relative;
}

div.tags .lang p {
    position: absolute;
    top: -1rem;
    margin-left: 13%;
    font-size: 1.5rem;
    color: black;
    font-family: 'Zrnic';
}


/*section .bots {
    justify-content: center
}*/

section.seccion1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../arrebajaoenlabanera/proyectocomercial/comercial6.webp);
}

section.seccion2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../arrebajaoenlabanera/proyectoresidencial/residencial9.webp);
}


/*section.seccion3 {
    display: flex;
}*/

section.seccion3 .bots {
    align-self: center;
    transform: rotateX(180deg);
}

section.seccion3 {
    margin-bottom: 0;
}


/* SIDEBAR */

div.sidebar {
    display: flex;
    width: 40%;
    border: 5px dotted cyan;
}


/*div.sidebar img {
    margin: 3rem 0;
    width: 100%;
}*/

div.sidebar .bots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    border: 1px solid cadetblue;
}

div.nombre {
    border: 1px dotted red;
    height: 33.3%;
}

div.nombre h2 {
    border: 1px solid pink;
    font-family: 'Swis';
    font-weight: 300;
    font-size: 2.5rem;
    margin: 0;
}


/*div.nombre img {
    display: block;
    width: 100%;
    margin: 0;
}*/

div.nombre h2:nth-child(2) {
    margin-left: 2rem;
}

div.barras .box1 {
    border: 1px solid blue;
    border-left: 0;
    border-right: 0;
    height: 100%;
}

div.barras .box2 {
    height: 1rem;
    border-bottom: 1px solid blue;
}

div.barras {
    height: 33.3%;
    border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    padding: 50% 0;
}

div.barras p {
    margin: 0;
    height: 1rem;
}

div.arrows {
    height: 33.3%;
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    justify-content: flex-end;
}


/* Animación de las flechas */

div.arrows i {
    font-size: 3rem;
    animation: zoomflecha 1s infinite;
}

@keyframes zoomflecha {
    30% {
        padding-bottom: 0.3rem;
    }
}

div.lettering {
    display: flex;
    width: 70%;
    border: 1px dotted orange;
    align-self: center;
    margin-left: 4rem;
}

div.lettering .letras {
    width: 50%;
}

div.lettering .letritas {
    width: 50%;
}

section div.lettering .letras h2 {
    margin: 0;
    font-size: 6rem;
    font-weight: 300;
}

section div.lettering .letritas h3 {
    margin: 0;
    font-size: 3rem;
    border-left: 1px solid white;
}

div.vacio {
    height: 30%;
    border: 1px solid pink;
}


/* CONTENIDO */

div.contenido {
    width: 100%;
    display: flex;
    border: 1px dotted yellowgreen;
}

div.contenido img {
    height: 90%;
    width: 90%;
    margin: 0 auto;
    align-self: center;
    border: 5px dotted gold;
}

div.grid-proyectos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 0.2fr 1fr;*/
    border: 1px solid green;
    row-gap: 2em;
    align-self: center;
}


/* CAPA 1 */

div.proyectos {
    position: relative;
    background-color: black;
    width: 15rem;
    height: 20rem;
    margin: 0 auto;
    align-self: center;
}


/* CAPA 2 */

div.skeleton {
    border: 1px solid white;
    position: absolute;
    left: 50%;
    bottom: -3rem;
    transform: translateX(-50%);
    width: 80%;
    height: 70%;
}

div.skeleton img {
    position: absolute;
    bottom: -3rem;
    width: 40%;
    right: 3.5rem;
}


/* CAPA 3 */

.foreground {
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid red;
    padding: 50% 60%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#proyectocomercial .foreground {
    background-image: url(../arrebajaoenlabanera/proyectocomercial/comercialfondo.webp);
}

#proyectoresidencial .foreground {
    background-image: url(../arrebajaoenlabanera/proyectoresidencial/residencialfondo.webp);
}

#recorridosvirtuales .foreground {
    background-image: url(../arrebajaoenlabanera/recorridosfondo.webp);
}

#renders .foreground {
    background-image: url(../arrebajaoenlabanera/renders/rendersfondo.webp);
}

#disenografico .foreground {
    background-image: url(../arrebajaoenlabanera/disenografico/disenofondo.webp);
}


/* CAPA 4 */

.text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    font-family: 'Ricochet';
}

.text a {
    position: absolute;
    top: 1rem;
    right: 0;
    left: 0;
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
}

.text a p {
    font-size: 1.7rem;
}

.text:hover {
    background-color: rgb(208, 82, 54);
    transition: .3s ease-in-out;
}


/* div.sidebar {
    display: block;
    background-color: rgb(244, 244, 244, 0.5);
    color: black;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

div.sidebar h2 {
    margin: 1rem;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Ricochet';
}

div.volteado {
    background-color: rgba(0, 0, 0, 0.7);
}

div.volteado h2,
span {
    color: rgb(255, 255, 255, 0.7);
} */


/* Menú de hamburgruesa */


/* div.logo a {
    display: block;
}

div.iconos {
    display: none;
}

div.logo a.menu-movil i {
    color: white;
    font-size: 1.8rem;
}

div.logo a.close {
    display: none;
} */


/* div.iconos:target {
    display: flex;
} */


/* div.proyecto {
    margin: 1rem 0;
}

div.proyecto a img {
    width: 60%;
}

div.sidebar a p {
    margin: 0;
    display: none;
    font-size: 2rem;
}

div.volteado a p {
    color: rgb(244, 244, 244, 0.5);
}

div.volteado img {
    -webkit-filter: invert(1);
}

@media (min-width: 768px) {
    div.sidebar {
        width: 30%;
        height: 120rem;
        display: block;
    }
    div.sidebar .logo {
        margin: 2rem 0;
    }
    div.sidebar h2 {
        display: block;
        font-size: 5rem;
    }
    div.sidebar span {
        font-size: 2.5rem;
    }
    div.iconos {
        display: block;
    }
    div.sidebar .zoom a {
        text-align: center;
        margin: 1rem 0;
        font-size: 3.5rem;
        padding: 2rem;
        display: block;
        color: rgba(0, 0, 0, 0.7);
    }
    div.sidebar .zoom a:hover {
        transform: scale(1.5);
        transition: .4s ease-in-out;
    }
    div.proyecto a img {
        width: 40%;
        opacity: .7;
    }
    div.logo a.menu-movil i {
        display: none;
    }
} */


/* I push my fingers into my EEEEEEEEEYEESSSSSS */


/* MAIN */

div.pagina-proyecto .sidebar {
    display: flex;
    flex-direction: column;
    border: 1px dotted orange;
    margin-top: 3rem;
    text-align: center;
}

div.pagina-proyecto .arriba img {
    width: 10rem;
    margin: 0;
    border: 1px dotted blue;
}

div.pagina-proyecto .medio {
    display: flex;
    border: 1px dotted pink;
}

div.pagina-proyecto .medio .iconos {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 4rem;
    padding-left: 3rem;
    border: 1px dotted red;
}

div.medio .iconos a {
    border: 1px dotted gold;
    width: 6rem;
    margin-bottom: 10%;
}

div.medio .iconos a:hover {
    transform: scale(1.5);
    transition: .3s ease-in-out;
}

div.medio .actual {
    margin-top: 1rem;
}

div.medio .actual h2 {
    border-left: 1px solid white;
    font-size: 4rem;
    padding-left: 1rem;
}

div.pagina-proyecto .abajo {
    height: 20%;
    border: 1px dotted brown;
    width: 100%;
}

div.abajo .arrows {
    flex-direction: row;
    border: 1px dashed green;
    height: 100%;
    width: 7rem;
    align-items: flex-start;
}

div.abajo .arrows i {
    font-size: 3rem;
    animation: flechaizquierda 1s infinite;
}

@keyframes flechaizquierda {
    60% {
        margin-left: 0.3rem;
    }
}


/* Layout */

div.layout {
    padding: 1rem 2rem;
    height: 100vh;
}


/* I won't let this build up inside of me */

div.imagenes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 7px dashed purple;
}

div.imagenes.videos {
    grid-template-columns: repeat(3, 1fr);
}

div.imagenes.unshingo {
    grid-template-rows: repeat(5, 1fr);
}

div.imagenes img {
    padding: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.imagenes img:hover {
    transform: scale(1.045);
    transition: .3s ease-in-out;
}

div.imagenes img.grid-column13 {
    grid-column: 1 / 3;
    width: 100%;
    height: 100%;
}

div.imagenes img.grid-column13 {
    grid-column: 1 / 3;
}

div.imagenes img.grid-column35 {
    grid-column: 3 / 5;
}

div.imagenes img.grid-column57 {
    grid-column: 5 / 7;
}

div.imagenes img.grid-column56 {
    grid-column: 5 / 6;
}

div.imagenes img.grid-column67 {
    grid-column: 6 / 7;
}

div.imagenes img.grid-column37 {
    grid-column: 3 / 7;
}

div.imagenes img.grid-row12 {
    grid-row: 1 / 2;
}

div.imagenes img.grid-row13 {
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
}

div.imagenes img.grid-row23 {
    grid-row: 2 / 3;
}

div.imagenes img.grid-row34 {
    grid-row: 3 / 4;
}


/* RECORRIDOS VIRTUALES */


/* div.video {
    width: auto;
    height: auto;
    text-align: center;
}

div.video iframe {
    width: 90%;
}

*/


/* RANDOM TESTS */


/*.circles {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 5rem;
    padding: 3rem;
}

.circle {
    width: 20px;
    height: 20px;
    background: linear-gradient(#7864f4, #3872d3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:before {
    content: "";
    width: 20px;
    height: 20px;
    background: linear-gradient(#7864f4, #3872d3);
    border-radius: 50%;
    opacity: 0.7;
    animation: loading 2s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.circle:nth-child(2):before {
    animation-delay: 0.3s;
}

.circle:nth-child(3):before {
    animation-delay: 0.6s;
}

.circle:nth-child(4):before {
    animation-delay: 0.9s;
}

.circle:nth-child(5):before {
    animation-delay: 1.2s;
}
*/


/*
.pruebaflechas {
    margin: 5rem;
    padding: 3rem;
}

.flecha {
    width: 20px;
    height: 20px;
}

.flecha:before {
    content: "";
    width: 20px;
    height: 20px;
    opacity: 0.7;
    animation: loading 2s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.flecha:nth-child(2):before {
    animation-delay: 0.3s;
}

.flecha:nth-child(3):before {
    animation-delay: 0.6s;
}

.flecha:nth-child(4):before {
    animation-delay: 0.9s;
}

.flecha:nth-child(5):before {
    animation-delay: 1.2s;
}*/